/* Estilos para el cuerpo de la página */
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Estilos para el encabezado */
h1 {
  color: #333;
  font-size: 32px;
  margin: 20px 0;
  text-align: center;
}

/* Estilos para la sección */
section {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 800px;
  padding: 20px;
}

/* Estilos para el contenedor del texto introductorio */
section div {
  color: #333;
  font-size: 18px;
  margin-bottom: 20px;
}

/* Estilos para los campos del formulario */
form label {
  color: #333;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

form input[type="number"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

/* Estilos para el botón de calcular */
button#calcular {
  background-color: #4CAF50;
  border: none;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
}

/* Estilos para el resultado */
p#resultado {
  color: #333;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
